<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавить компанию</title>
</head>
<body>
<form method="post" name="addCompany">
    <label>Город - </label>
    <select name="city">
        <option th:each="city : ${cityList}"
                th:text="${city.name}">
        </option>
    </select>
    <label>Тип налога - </label>
    <select name="taxationSystem">
        <option th:each="taxationSystem : ${typeList}"
                th:text="${taxationSystem.name}">
        </option>
    </select>
    <input type="text" placeholder="Название" name="name">
    <input type="text" placeholder="Итоговая прибыль" name="profit">
    <button taxationSystem="submit" >Добавить</button>
</form>
<br>
<a href="/list">Список компаний</a>
<br>
<a href="/addTaxAmount">Расчитать налог</a>
</body>
</html>